* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body {
    text-align: center;
    background-color: #37474f;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
}
canvas {
    margin-top: -50px;
}
.info-panel {
    width: 505px;
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.info-panel [class$=info] {
    min-width: 130px;
}
.info-panel .gems-info .fas,
.modal .fas {
    animation: ColorChange 3s linear infinite alternate;
    padding-left: 12px;
    text-shadow: 2px 2px 2px #111,
                3px 3px 3px #333;
}
.modal .fas {
    text-shadow: none;
    padding-left: 0;
}
.level-info,
.gems-info span {
    font-size: 32px;
    color: white;
    line-height: 1;
}
.heart-info {
    font-size: 16px;
    color: #e53935;
    text-shadow: 2px 2px 2px #111,
                3px 3px 3px #333;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 18px;
    background-color: white;
}
.invisible {
    display: none;
}
.modal small {
    padding-bottom: 10px;
}
.modal .divider {
    background-color: black;
    height: 1px;
    width: 80%;
    margin: 0 auto 10px;
}
.modal-general,
.modal-game-over,
.modal-game-win {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 505px;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
.modal-header ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    font-size: 21px;
}
.modal-header ul a {
    padding: 7px 15px 10px;
    margin-left: 5px;
    background-color: #37474f;
    text-decoration: none;
    color: white;
}
.modal-header ul a:hover,
.modal-header ul a:focus {
    background-color: #d81919;
    color: black;
}
.modal-header ul a.active {
    background-color: #436271;
    color: black;
}
.modal-body {
    flex-direction: column;
    margin-top: 7px;
    padding: 10px;
    min-height: 540px;
    background-color: #436271;
}
.modal-body,
.modal-footer {
    box-shadow: 0 0 2px rgba(0, 0, 0, .9),
                0 0 3px rgba(0, 0, 0, .8),
                0 0 5px rgba(0, 0, 0, .6),
                0 0 7px rgba(0, 0, 0, .4);
}
.modal-body .hero-info,
.modal-body .help-info {
    display: flex;
    text-decoration: none;
    color: inherit;
    border: 1px solid transparent;
}
.hero-info,
.help-info {
    margin: 5px 0;
}
.hero-info:hover,
.hero-info:focus,
.hero-info.active {
    background-color: #37474f;
    color: white;
    border: 1px solid #fff;
}
.hero-info.active {
    border: 1px solid #9e3232;
}
[class*=char-],
[class*=icon-] {
    width: 100px;
    height: 100px;
    background-position: 0 120px;
}
.char-boy {
    background-image: url("../images/char-boy.png");
}
.char-cat-girl {
    background-image: url("../images/char-cat-girl.png");
}
.char-horn-girl {
    background-image: url("../images/char-horn-girl.png");
}
.char-pink-girl {
    background-image: url("../images/char-pink-girl.png");
}
.char-princess-girl {
    background-image: url("../images/char-princess-girl.png");
}
.icon-arrows {
    background-image: url("../images/arrows.png");
}
.icon-enemy-bug {
    background-image: url("../images/enemy-bug.png");
    background-position: 0 110px;
}
.icon-rock {
    background-image: url("../images/Rock.png");
    background-position: 0 130px;
}
.icon-gems{
    background-image: url("../images/gems.png");
}

.hero-description,
.help-description {
    padding-top: 5px;
    padding-left: 10px;
    text-align: left;
    width: 370px;
}
.hero-description .hero-name,
.help-description .help-name {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}
.hero-description .hero-history,
.help-description .help-history {
    font-size: 16px;
}
a:hover .hero-name,
a:focus .hero-name,
a.active .hero-name {
    border-bottom-color: white;
}
.modal-footer {
    background-color: #37474f;
    padding: 20px 0;
}
.modal-footer a,
.modal-game-over a,
.modal-game-win a {
    padding: 7px 12px;
    background-color: #329e39;
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
}
.modal-footer a:hover,
.modal-footer a:focus,
.modal-game-over a:hover,
.modal-game-over a:focus,
.modal-game-win a:hover,
.modal-game-win a:focus {
    background-color: #19d825;
    border-color: black;
    color: black;
}
.modal-game-over,
.modal-game-win {
    font-size: 30px;
    text-align: center;
}
.modal-game-over img {
    width: 200px;
    height: 150px;
    margin: 20px auto 0;
}
.modal-game-win img {
    width: 300px;
    height: 300px;
    margin: -20px auto;
}
.modal-game-over a,
.modal-game-win a {
    width: 200px;
    margin: 15px auto 0;
    font-size: 20px;
}




/* Animations */
@keyframes ColorChange {
    0%  {color: #e37422;}
    50% {color: #208c43;}
    100%{color: #2145e3;}


}


/* BreakPoints */
@media only screen and (max-width: 600px) {
    .modal-general,
    .modal-game-over {
        width: 90%;
    }
}
